.book-date-button {
    border: 1px solid brown;
    background:  #c0392b;
    color: #2e2d2a;
    border-radius: 5px;
    height: 40px;
    width: 130px;
    font-weight: 600;
    margin: 10px 10px 10px 10px;
}
.book-date-button:hover { 
    background:  #df4b3b;
    outline: 0 !important
}
.book-date-button:active { 
    background:  #c0392b;
    outline: 0 !important;
    transform: translateY(2px);
    transition-timing-function: ease;
}
.book-date-button:focus { 
    background:  #c0392b;
    outline: 0 !important
}
.usage-bar {
    margin: 10px 0 10px 0;
    color: #c0392b;
}
.booking-container {
    padding: 20px 10px 20px 10px;
    background-color: #eed384;
    width: fit-content;
    border-radius: 5px;
    /* float: center; */
    margin: auto;
    margin-top: 30px;
}
.DayPicker-Weekday {
    color:  rgb(102, 95, 95);
    font-size: larger;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px rgb(102, 95, 95);    
}
.DayPicker-Day {
    color: #494740;
}
.DayPicker-Month {
    width: 300px;
}
.DayPicker-Caption {
    color: #494740;
}

h4 {
    color: #c0392b
}
.DayPicker-Day--today {
    background-color: #c03a2b80;
}
.office-books {
    margin: 5px 0 5px 0;
}
.booking-msg-p{
    margin: 5px;
    padding-top: 7px;
    color: #2e2d2a;
    font-weight: 700;
}
.booking-msg-p-span{
    font-weight: 700;
    padding: 5px;    
}
.booking-msg{
    background-color: #c0392b;
    width: fit-content;
    height: 48px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}
.bi-hand-thumbs-up {
    height: 30px;
    width: 30px;
    margin: 0 0 10px 5px;
}