.canteen-main {
    margin: 40px 0 40px 0;
    width: fit-content;
    /* background-color: #eed384; */
    margin: auto;
}
.canteen-btn {
    border: 1px solid brown;
    background:  #c0392b;
    color: #2e2d2a;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    font-weight: 600;
    /* margin: 20px 10px 1px 50px; */
    margin: 10px;
    padding-left: 15px;
}
.canteen-btn:hover { 
    background:  #df4b3b;
    outline: 0 !important
}
.canteen-btn:active { 
    background:  #c0392b;
    outline: 0 !important;
    transform: translateY(2px);
    transition-timing-function: ease;
}
.canteen-btn:focus { 
    background:  #c0392b;
    outline: 0 !important
}
.canteen-list-main {
    width: 300px;
    height: 60px;
    border-radius: 5px;
    background-color: #eed384;
    margin: auto;
}
.canteen-div {
    color: #494740;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.user-name {
    padding: 10px;
    margin: 10px;
    font-size: larger;
}
.user-img {
    padding: 5px;
    margin: 5px;
}
.fa-hotdog {
    margin: 0 10px 0 10px;
}
.canteen-status {
    margin: 5px 0 5px 0;
    color: #c0392b;
    font-size: 1.25rem;
}